.navbar {
  background-color: #333;
  padding: 1rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar li {
  color: white;
  cursor: pointer;
}

.layout-container {
  width: 80vw;
  margin: 0 auto;
  padding: 1rem;
}